img
{
	max-width : 100%;
}
header
{
	text-align : center;
}
#hVideo
{
	position : fixed;
	right : 0;
	bottom : 0;
	min-width : 100%;
	min-height : 100%;
	z-index : -1;
}
#header1
{
	grid-area : header1Tag;
	background-color : #f5f5ff;
}
#nav
{
	grid-area : navTag;
	background-color : #2699fb;
}
main
{
	grid-area : mainTag;
	border : solid 5px;
	margin-top : 100px;
	background-color : #f5f5f5;
}
ul
{
	list-style : none;
	margin : 0;
	padding : 0;
}
li
{
	float : left;
}
.aNav
{
	display : block;
	color : #000;
	padding : 20px;
	text-decoration : none;
}
.aNav:hover
{
	color : #aaa;
	background-color : #000;
}
.aSport
{
	text-decoration : none;
	color : #2699fb;
}
.aSport:hover
{
	color : #707070;
}
#over
{
	grid-area : overTag;
}
#article1
{
	grid-area : article1Tag;
}
#aside1
{
	grid-area : aside1Tag;
}
#aside2
{
	grid-area : aside2Tag;
}
#footer1
{
	grid-area : footer1Tag;
	text-align : center;
}
#section2
{
	grid-area : section2Tag;
	border : solid 5px;
	margin-top : 100px;
	background-color : #f5f5f5;
}
#oudeStad
{
	grid-area : oudeTag;
}
#article2
{
	grid-area : article2Tag;
}
article, aside
{
	padding : 10px;
	border : solid 5px;
	margin : 20px;
}
footer
{
	padding : 10px;
	margin : 20px;
}
#aside3
{
	grid-area : aside3Tag;
}
#aside4
{
	grid-area : aside4Tag;
}
#aside5
{
	grid-area : aside5Tag;
}
#footer2
{
	grid-area : footer2Tag;
	text-align : center;
}
#sectionSport
{
	grid-area : sectionSportTag;
	border : solid 5px;
	margin-top : 100px;
	background-color : #f5f5f5;
}
#sport
{
	grid-area : sportTag;
}
#articleKAV
{
	grid-area : articleKAVTag;
}
#asideKAV
{
	grid-area : asideKAVTag;
}
#articleDSS
{
	grid-area : articleDSSTag;
}
#asideDSS
{
	grid-area : asideDSSTag;
}
#articleBato
{
	grid-area : articleBatoTag;
}
#asideBato
{
	grid-area : asideBatoTag;
}
#grid
{
	padding : 10px;
	
	display : grid;
	
	justify-content : center;
	
	grid-template-areas :
		"header1Tag		"
		"navTag			"
		"mainTag		"
		"section2Tag	"
		"sectionSportTag";
}
@media screen and (min-width : 960px)
{
	body
	{
		max-width : 960px;
		margin : auto;
	}
	article
	{
		font-size : 125%;
	}
	a
	{
		font-size : 150%;
	}
	#section1
	{
		display : grid;
		
		grid-template-areas :
		"overTag		overTag		overTag		overTag		overTag		overTag		"
		"article1Tag	article1Tag	aside1Tag	aside1Tag	aside1Tag	aside1Tag	"
		"article1Tag	article1Tag	aside2Tag	aside2Tag	aside2Tag	aside2Tag	"
		"footerTag		footerTag	footerTag	footerTag	footerTag	footerTag	";
	}
	#section2
	{
		display : grid;
		
		grid-template-areas :
		"oudeTag		oudeTag		oudeTag		oudeTag		oudeTag		oudeTag		"
		"article2Tag	article2Tag	aside3Tag	aside3Tag	aside3Tag	aside3Tag	"
		"article2Tag	article2Tag	aside4Tag	aside4Tag	aside4Tag	aside4Tag	"
		"article2Tag	article2Tag	aside5Tag	aside5Tag	aside5Tag	aside5Tag	"
		"footer2Tag		footer2Tag	footer2Tag	footer2Tag	footer2Tag	footer2Tag	";
	}
	#sectionSport
	{
		display : grid;
		
		grid-template-areas :
		"sportTag		sportTag		sportTag		sportTag		sportTag		sportTag	"
		"articleKAVTag	articleKAVTag	articleKAVTag	asideKAVTag		asideKAVTag		asideKAVTag	"
		"articleDSSTag	articleDSSTag	articleDSSTag	asideDSSTag		asideDSSTag		asideDSSTag	"
		"articleBatoTag	articleBatoTag	articleBatoTag	asideBatoTag	asideBatoTag	asideBatoTag";
	}
}
@media screen and (min-width : 400px) and (max width : 959px)
{
	body
	{
		max-width : 400px;
	}
	article
	{
		font-size : 100%;
	}
	#section1
	{
		display : grid;
	
		grid-template-areas :
		"overTag		"
		"article1Tag	"
		"aside1Tag		"
		"aside2Tag		"
		"footerTag		";
	}
	#section2
	{
		display : grid;
		
		grid-template-areas :
		"oudeTag		"
		"article2Tag	"
		"aside3Tag		"
		"aside4Tag		"
		"aside5Tag		"
		"footer2Tag		";
	}
	#sectionSport
	{
		display : grid;
		
		grid-template-areas :
		"sportTag		"
		"articleDSSTag	"
		"asideDSSTag	"
		"articleBatoTag	"
		"asideBatoTag	";
	}
}