/* external fonts */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans:600|PT+Sans|Roboto');

/* basics */
h1
{
	font-family : 'Archivo Black', "Berlin Sans FB", 'Roboto', sans-serif;
	color : #444;
}
h2
{
	font-family : 'Open Sans', arial, 'Roboto', sans-serif;
	color : #444;
}
article, ul, p, footer, legend, input, textarea, button, h5
{
	font-family : 'PT Sans', arial, 'Roboto', sans-serif;
	color : #444;
}
header
{
	text-align : center;
}
#hVideo
{
	position : fixed;
	right : 0;
	bottom : 0;
	min-width : 100%;
	min-height : 100%;
	z-index : -1;
}
#cookie
{
	position : fixed;
	right : 0;
	bottom : 0;
	margin : 0;
	padding : 1em;
	z-index : 1;
	background-color : #707070;
	color : #fff;
}
#header1
{
	grid-area : header1Tag;
	background-color : #f5f5ff;
}
#nav
{
	grid-area : navTag;
	background-color : #2699fb;
}
main
{
	grid-area : mainTag;
	border : solid 0.3em;
	margin-top : 6em;
	background-color : #f5f5f5;
}
#section2, #sectionSport, #sectionRef, #sectionCon, #endFooter
{
	border : solid 0.3em;
	border-color : #000;
	margin-top : 6em;
	background-color : #f5f5f5;
}
ul
{
	list-style : none;
	margin : 0;
	padding : 0;
}
.aNav
{
	display : block;
	color : #000;
	padding : 1em;
	text-decoration : none;
}
.aNav:hover
{
	color : #aaa;
	background-color : #000;
}
.aSport, .aRef
{
	text-decoration : none;
	color : #2699fb;
}
.aSport:hover, .aRef:hover
{
	color : #707070;
}
footer
{
	padding : 1em;
	text-align : center;
}

/* grid tags */
#over
{
	grid-area : overTag;
}
#article1
{
	grid-area : article1Tag;
}
#aside1
{
	grid-area : aside1Tag;
}
#aside2
{
	grid-area : aside2Tag;
}
#footer1
{
	grid-area : footer1Tag;
}
#section2
{
	grid-area : section2Tag;
}
#oudeStad
{
	grid-area : oudeTag;
}
#article2
{
	grid-area : article2Tag;
}
#aside3
{
	grid-area : aside3Tag;
}
#aside4
{
	grid-area : aside4Tag;
}
#aside5
{
	grid-area : aside5Tag;
}
#footer2
{
	grid-area : footer2Tag;
}
#sectionSport
{
	grid-area : sectionSportTag;
}
#sport
{
	grid-area : sportTag;
}
#articleKAV
{
	grid-area : articleKAVTag;
}
#asideKAV
{
	grid-area : asideKAVTag;
}
#articleDSS
{
	grid-area : articleDSSTag;
}
#asideDSS
{
	grid-area : asideDSSTag;
}
#articleBato
{
	grid-area : articleBatoTag;
}
#asideBato
{
	grid-area : asideBatoTag;
}
#articleHFC
{
	grid-area : articleHFCTag;
}
#asideHFC
{
	grid-area : asideHFCTag;
}
#articleHKC
{
	grid-area : articleHKCTag;
}
#asideHKC
{
	grid-area : asideHKCTag;
}
#articleHWA
{
	grid-area : articleHWATag;
}
#asideHWA
{
	grid-area : asideHWATag;
}
#articleSax
{
	grid-area : articleSaxTag;
}
#asideSax
{
	grid-area : asideSaxTag;
}
#articleHRC
{
	grid-area : articleHRCTag;
}
#asideHRC
{
	grid-area : asideHRCTag;
}
#articleKVS
{
	grid-area : articleKVSTag;
}
#asideKVS
{
	grid-area : asideKVSTag;
}
#articleHLTC
{
	grid-area : articleHLTCTag;
}
#asideHLTC
{
	grid-area : asideHLTCTag;
}
#footer3
{
	grid-area : footer3Tag;
}
#sectionRef
{
	grid-area : sectionRefTag;
}
#referral
{
	grid-area : referralTag;
}
#articleRef
{
	grid-area : articleRefTag;
}
#asideRef
{
	grid-area : asideRefTag;
}
#footerRef
{
	grid-area : footerRefTag;
}
#sectionCon
{
	grid-area : sectionConTag;
}
#endFooter
{
	grid-area : endFooterTag;
}

/* form opmaak */
button
{
	background-color : #2699fb;
	cursor : pointer;
	border : none;
	border-radius : 1.2em;
}
input, textarea
{
	background : none;
	border : none;
	border-bottom : solid 0.05em;
}

/* body grid */
#grid
{
	padding : 1em;
	
	display : grid;
	
	justify-content : center;
	
	grid-template-areas :
		"header1Tag		"
		"navTag			"
		"mainTag		"
		"section2Tag	"
		"sectionSportTag"
		"sectionRefTag	"
		"sectionConTag	"
		"endFooterTag	";
}

/* media query pc */
@media screen and (min-width : 960px)
{
	.tablet, .mobile
	{
		display : none;
	}
	body
	{
		width : 960px;
		margin : auto;
	}
	h1
	{
		font-size : 3em;
	}
	h2
	{
		font-size : 2em;
	}
	ul
	{
		font-size : 1.5em;
	}
	.pRef, #cookie, footer
	{
		font-size : 0.8em;
	}
	article
	{
		font-size : 1.1em;
	}
	#hamburgercheck, label
	{
		display : none;
	}
	li
	{
		float : left;
	}
	article, aside
	{
		padding : 0.8em;
		border : solid 0.2em;
		border-color : #000;
		margin : 1.5em;
	}
	#section1
	{
		display : grid;
		
		grid-template-areas :
		"overTag		overTag		"
		"article1Tag	aside1Tag	"
		"article1Tag	aside2Tag	"
		"footerTag		footerTag	";
	}
	#section2
	{
		display : grid;
		
		grid-template-areas :
		"oudeTag		oudeTag		"
		"article2Tag	aside3Tag	"
		"article2Tag	aside4Tag	"
		"article2Tag	aside5Tag	"
		"footer2Tag		footer2Tag	";
	}
	#sectionSport
	{
		display : grid;
		
		grid-template-areas :
		"sportTag		sportTag		"
		"articleKAVTag	asideKAVTag		"
		"articleDSSTag	asideDSSTag		"
		"articleBatoTag	asideBatoTag	"
		"articleHFCTag	asideHFCTag		"
		"articleHKCTag	asideHKCTag		"
		"articleHWATag	asideHWATag		"
		"articleSaxTag	asideSaxTag		"
		"articleHRCTag	asideHRCTag		"
		"articleKVSTag	asideKVSTag		"
		"articleHLTCTag	asideHLTCTag	"
		"footer3Tag		footer3Tag		";
	}
	#sectionRef
	{
		display : grid;
		
		grid-template-areas :
		"referralTag	referralTag		referralTag		referralTag	"
		"articleRefTag	articleRefTag	articleRefTag	asideRefTag	"
		"footerRefTag	footerRefTag	footerRefTag	footerRefTag";
	}
	fieldset
	{
		margin : 30px;
	}
	.txtInput
	{
		margin-bottom : 50px;
	}
	button
	{
		padding : 1em;
		width : 15%;
		font-size : 1.1em;
	}
}

/* media query tablet */
@media screen and (min-width : 400px) and (max-width : 959px)
{
	.pc, .mobile
	{
		display : none;
	}
	body
	{
		width : 400px;
		margin : auto;
		font-size : 75%;
	}
	article, aside
	{
		margin : 0.8em;
	}
	#hamburgercheck, label
	{
		display : none;
	}
	li
	{
		float : left;
	}
	#section1
	{
		display : grid;
	
		grid-template-areas :
		"overTag		overTag		"
		"article1Tag	article1Tag	"
		"aside1Tag		aside2Tag	"
		"footerTag		footer1Tag	";
	}
	#section2
	{
		display : grid;
		
		grid-template-areas :
		"oudeTag		oudeTag		"
		"article2Tag	article2Tag	"
		"aside3Tag		aside5Tag	"
		"footer2Tag		footer2Tag	";
	}
	#sectionSport
	{
		display : grid;
		
		grid-template-areas :
		"sportTag		sportTag		"
		"articleKAVTag	asideKAVTag		"
		"articleDSSTag	asideDSSTag		"
		"articleBatoTag	asideBatoTag	"
		"articleHFCTag	asideHFCTag		"
		"articleHKCTag	asideHKCTag		"
		"articleHWATag	asideHWATag		"
		"articleSaxTag	asideSaxTag		"
		"articleHRCTag	asideHRCTag		"
		"articleKVSTag	asideKVSTag		"
		"articleHLTCTag	asideHLTCTag	"
		"footer3Tag		footer3Tag		";	
	}
	#hwaTab
	{
		float : right;
	}
	button
	{
		padding : 2%;
		width : 20%;
	}
}

/* media query mobile */
@media screen and (max-width : 399px)
{
	body
	{
		width : 100%;
		font-size : 60%;
		margin : auto;
	}
	.pc, .tablet
	{
		display : none;
	}
	article, aside
	{
		margin : 0.8em;
	}
	#hamburgercheck
	{
		display : none;
	}
	label
	{
		cursor : pointer;
		font-size : 200%;
		margin-left : 1%;
	}
	#ulNav
	{
		display : none;
	}
	#ulNav a
	{
		text-align : center;
		border-bottom : solid 0.01em;
	}
	#hamburgercheck:checked + #ulNav
	{
		display : block;
	}
	#section1
	{
		display : grid;
	
		grid-template-areas :
		"overTag		overTag		"
		"article1Tag	article1Tag	"
		"aside1Tag		aside2Tag	"
		"footerTag		footer1Tag	";
	}
	#section2
	{
		display : grid;
		
		grid-template-areas :
		"oudeTag		oudeTag		"
		"article2Tag	article2Tag	"
		"aside3Tag		aside5Tag	"
		"footer2Tag		footer2Tag	";
	}
	#sectionSport
	{
		display : grid;
		
		grid-template-areas :
		"sportTag		sportTag		"
		"articleKAVTag	asideKAVTag		"
		"articleDSSTag	asideDSSTag		"
		"articleBatoTag	asideBatoTag	"
		"articleHFCTag	asideHFCTag		"
		"articleHKCTag	asideHKCTag		"
		"articleHWATag	asideHWATag		"
		"articleSaxTag	asideSaxTag		"
		"articleHRCTag	asideHRCTag		"
		"articleKVSTag	asideKVSTag		"
		"articleHLTCTag	asideHLTCTag	"
		"footer3Tag		footer3Tag		";
	}
	#hwaMob
	{
		float : right;
	}
	button
	{
		padding : 2%;
		width : 20%;
	}
}